<%=form_tag('./' ,method: "patch")%>
<div class="form-group">
		<label for="">label</label>
		<input type="text" class="form-control" name="name" placeholder="Input field">
		<input type="text" class="form-control" name="description" placeholder="Input field">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>